#lox1,#lox2,#lox3,#lox4{
    width: 100%;
    height: 800px;
    
}

#lox1{
    background-color: aqua;
}

#lox2{
    background-color: saddlebrown;
    
}
#lox3{
     background-color: blue;
}
#lox4{
     background-color:fuchsia;
}